*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #ffffff;
    /* Take into account the navbar height, padding, and the 20px body margin */
    height: calc(100vh - 2vh - 48px - 20px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    font-weight: bold;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    border-right: 1px solid #ccc;
}

td {
    border-right: 1px solid #ccc;
    padding: 10px;
}

td:last-child {
    border-right: none;
}

td:last-child {
    border-right: none;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: #000;
}

.home-button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: #6a4caf;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 1rem 4rem;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background-color: #5a3aa0;
}
