<body>
    <div class="container">

        <h1>Leaderboard</h1>

        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <ng-container *ngFor="let element of getTopScores(); let index=index">
                <tr>
                <td class="field-index">{{ index + 1 }}.</td>
                <td class="field-label">{{ element.name }}</td>
                <td class="field-value">{{ element.points }}</td>
                </tr>
            </ng-container>
        </table>

        <button routerLink="/" class="home-button" (click)="clicked()">Home</button>
    </div>
</body>