header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 1vh 2vw;
}

.settings-icon {
    font-size: 3em;
    cursor: pointer;
}

.leaderboard-icon {
    font-size: 3em;
    cursor: pointer;
}

button.leaderboard-icon,
button.settings-icon {
    width: 1em;
    height: 1em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border: none;
    border-radius: 100px;
}
