<body *ngIf="gameStarted">
<div class="container">

    <div class="top-bar">
        <div class="score">
            <span>wrong</span><br>
            <span>0/3</span>
        </div>
        <button routerLink="" class="exit-button">exit</button>
    </div>

    <div>{{ mainTrack.name }}</div>

    <div class="play-pause">
        <button class="play-button" (click)="togglePlayback()">
            {{ playing ? 'Pause' : 'Play' }}
        </button>
    </div>

    <div class="button-container">
        <button class="song-choice" (click)="stopPlayback(); clicked(0)">{{ randomThreeTracks[0].name }}</button>
        <button class="song-choice" (click)="stopPlayback(); clicked(1)">{{ randomThreeTracks[1].name }}</button>
        <button class="song-choice" (click)="stopPlayback(); clicked(2)">{{ randomThreeTracks[2].name }}</button>
    </div>
</div>
</body>