<body>
    <div class="container">

        <div class="volume-slider">
            <label for="volume">Volume</label>
            <input #volume type="range" id="volume" name="volume" min="0" max="100" value="{{getVolume()}}" (input)="setVolume(volume.value)">
        </div>

        <div class="toggles">
            <div class="toggle">
                <label for="toggle1">Toggle 1</label>
                <input type="checkbox" id="toggle1">
            </div>
            <div class="toggle">
                <label for="toggle2">Toggle 2</label>
                <input type="checkbox" id="toggle2">
            </div>
            <div class="toggle">
                <label for="toggle3">Toggle 3</label>
                <input type="checkbox" id="toggle3">
            </div>
        </div>
    </div>
</body>